:root {
    --azul: #0D96FC;
    --amarrillo: #ffc107;
    --verde: #20c997;
    --rojo: #dc3545;
    --lineas-color: rgba(0, 0, 0, 0.175);
    --icono-color: black;
    --img-fondo: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1000' height='500' preserveAspectRatio='none' viewBox='0 0 1000 500'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1001%26quot%3b)' fill='none'%3e%3crect width='1000' height='500' x='0' y='0' fill='rgba(237%2c 234%2c 234%2c 1)'%3e%3c/rect%3e%3cpath d='M599.42 256.02L630.9 256.02L630.9 270.79L599.42 270.79z' stroke='rgba(220%2c 53%2c 69%2c 1)'%3e%3c/path%3e%3cpath d='M901.79 355.43L925.84 355.43L925.84 378.94L901.79 378.94z' fill='rgba(220%2c 53%2c 69%2c 1)'%3e%3c/path%3e%3cpath d='M535.83 467.48a37.99 37.99 0 1 0 75.4-9.3z' stroke='rgba(13%2c 150%2c 252%2c 1)'%3e%3c/path%3e%3cpath d='M387.87 46.36L411.73 46.36L411.73 57.03L387.87 57.03z' fill='rgba(13%2c 150%2c 252%2c 1)'%3e%3c/path%3e%3cpath d='M261.65 133.21L278.05 133.21L278.05 165.5L261.65 165.5z' fill='rgba(220%2c 53%2c 69%2c 1)'%3e%3c/path%3e%3cpath d='M267.32 412.88a30.84 30.84 0 1 0-48.31-38.35z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M533.87 230.63 a45.3 45.3 0 1 0 90.6 0 a45.3 45.3 0 1 0 -90.6 0z' fill='rgba(220%2c 53%2c 69%2c 1)'%3e%3c/path%3e%3cpath d='M957.55 316.28a21.05 21.05 0 1 0-17.37 38.35z' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M79.73 53.18L114.71 53.18L114.71 88.16L79.73 88.16z' fill='rgba(13%2c 150%2c 252%2c 1)'%3e%3c/path%3e%3cpath d='M538.49 91.51L581.28 91.51L581.28 134.3L538.49 134.3z' stroke='rgba(220%2c 53%2c 69%2c 1)'%3e%3c/path%3e%3cpath d='M263.7 207.13a5.75 5.75 0 1 0 0.45-11.49z' stroke='rgba(13%2c 150%2c 252%2c 1)'%3e%3c/path%3e%3cpath d='M603.14 435.04L607.64 435.04L607.64 439.54L603.14 439.54z' fill='rgba(13%2c 150%2c 252%2c 1)'%3e%3c/path%3e%3cpath d='M594.55 494.62 a24.8 24.8 0 1 0 49.6 0 a24.8 24.8 0 1 0 -49.6 0z' fill='rgba(255%2c 193%2c 7%2c 1)'%3e%3c/path%3e%3cpath d='M547.02 136.43L581.27 136.43L581.27 170.68L547.02 170.68z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M112.65 323.98a24.25 24.25 0 1 0 36.93-31.44z' stroke='rgba(220%2c 53%2c 69%2c 1)'%3e%3c/path%3e%3cpath d='M24.25 197.19L53.01 197.19L53.01 227.07L24.25 227.07z' stroke='rgba(220%2c 53%2c 69%2c 1)'%3e%3c/path%3e%3cpath d='M680.48 455.23a3.72 3.72 0 1 0 7.06 2.32z' fill='rgba(13%2c 150%2c 252%2c 1)'%3e%3c/path%3e%3cpath d='M184.57 206.36a30.45 30.45 0 1 0-6.19-60.58z' fill='rgba(13%2c 150%2c 252%2c 1)'%3e%3c/path%3e%3cpath d='M701.82 57.16L740.49 57.16L740.49 85.95L701.82 85.95z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M837.98 281.45a18.59 18.59 0 1 0-31.15 20.29z' stroke='rgba(13%2c 150%2c 252%2c 1)'%3e%3c/path%3e%3cpath d='M416.75 132.51 a11 11 0 1 0 22 0 a11 11 0 1 0 -22 0z' stroke='rgba(220%2c 53%2c 69%2c 1)'%3e%3c/path%3e%3cpath d='M436.58 67.22a0.7 0.7 0 1 0-1.39-0.18z' stroke='rgba(13%2c 150%2c 252%2c 1)'%3e%3c/path%3e%3cpath d='M387.21 241.48a39.42 39.42 0 1 0-40.88 67.41z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M158.61 279.94L176.92 279.94L176.92 298.25L158.61 298.25z' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M130.55 116.35a46.1 46.1 0 1 0 36.14 84.82z' fill='rgba(220%2c 53%2c 69%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1001'%3e%3crect width='1000' height='500' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    --agenda-contenido: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='800' height='800' preserveAspectRatio='none' viewBox='0 0 800 800'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1284%26quot%3b)' fill='none'%3e%3crect width='800' height='800' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M -474.16294488370187%2c377 C -314.16%2c403.8 5.84%2c529.6 325.83705511629813%2c511 C 645.84%2c492.4 1031%2c277.4 1125.8370551162982%2c284 C 1220.67%2c290.6 865.17%2c492 800%2c544' stroke='rgba(220%2c 53%2c 69%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -1163.42581908471%2c330 C -1003.43%2c348 -683.43%2c448 -363.42581908470993%2c420 C -43.43%2c392 203.89%2c162.6 436.57418091529007%2c190 C 669.26%2c217.4 727.31%2c483.6 800%2c557' stroke='rgba(13%2c 150%2c 252%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -1156.8091756336814%2c161 C -996.81%2c266.2 -676.81%2c668.8 -356.80917563368143%2c687 C -36.81%2c705.2 211.83%2c296.4 443.19082436631857%2c252 C 674.55%2c207.6 728.64%2c422.4 800%2c465' stroke='rgba(13%2c 150%2c 252%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -675.3665151197042%2c628 C -515.37%2c575.4 -195.37%2c390.8 124.63348488029578%2c365 C 444.63%2c339.2 789.56%2c531.4 924.6334848802958%2c499 C 1059.71%2c466.6 824.93%2c262.2 800%2c203' stroke='rgba(255%2c 193%2c 7%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -1180.9123571281998%2c448 C -1020.91%2c390.6 -700.91%2c145.2 -380.9123571281999%2c161 C -60.91%2c176.8 182.91%2c526.4 419.0876428718001%2c527 C 655.27%2c527.6 723.82%2c236.6 800%2c164' stroke='rgba(32%2c 201%2c 151%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -1490.8611420564866%2c228 C -1330.86%2c298.6 -1010.86%2c590 -690.8611420564866%2c581 C -370.86%2c572 -189.03%2c203 109.13885794351336%2c183 C 407.31%2c163 661.83%2c421.4 800%2c481' stroke='rgba(13%2c 150%2c 252%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -1461.6429660187068%2c515 C -1301.64%2c459.8 -981.64%2c239.4 -661.6429660187068%2c239 C -341.64%2c238.6 -153.97%2c482.2 138.35703398129317%2c513 C 430.69%2c543.8 667.67%2c417 800%2c393' stroke='rgba(220%2c 53%2c 69%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -1533.4390642533963%2c318 C -1373.44%2c361.6 -1053.44%2c575.2 -733.4390642533963%2c536 C -413.44%2c496.8 -240.13%2c100 66.56093574660372%2c122 C 373.25%2c144 653.31%2c541.2 800%2c646' stroke='rgba(220%2c 53%2c 69%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -780.6421537279101%2c374 C -620.64%2c392.8 -300.64%2c472.8 19.35784627208985%2c468 C 339.36%2c463.2 663.23%2c354.8 819.3578462720899%2c350 C 975.49%2c345.2 803.87%2c425.2 800%2c444' stroke='rgba(13%2c 150%2c 252%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -1440.7774921855034%2c304 C -1280.78%2c344.2 -960.78%2c488.6 -640.7774921855033%2c505 C -320.78%2c521.4 -128.93%2c382 159.22250781449668%2c386 C 447.38%2c390 671.84%2c497.2 800%2c525' stroke='rgba(32%2c 201%2c 151%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1284'%3e%3crect width='800' height='800' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    --img-nav: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1300' height='60' preserveAspectRatio='none' viewBox='0 0 1300 60'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1092%26quot%3b)' fill='none'%3e%3crect width='1300' height='60' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M865.66 17.29 a16.66 16.66 0 1 0 33.32 0 a16.66 16.66 0 1 0 -33.32 0z' fill='rgba(13%2c 150%2c 252%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1040.47 12.87 a15.13 15.13 0 1 0 30.26 0 a15.13 15.13 0 1 0 -30.26 0z' fill='rgba(13%2c 150%2c 252%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M485.05 34.01 a17.8 17.8 0 1 0 35.6 0 a17.8 17.8 0 1 0 -35.6 0z' fill='rgba(13%2c 150%2c 252%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M108.60114170818264 31.508028438878306L115.2026574814144 18.55182423007566 102.24645327261176 11.950308456843889 95.64493749937999 24.906512665646535z' fill='rgba(13%2c 150%2c 252%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1128.836735508042 15.413435825756467L1146.1958168874444 14.199570606626892 1144.9819516683149-3.1595107727755742 1127.6228702889125-1.945645553646001z' fill='rgba(13%2c 150%2c 252%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M273.99 4 a12.95 12.95 0 1 0 25.9 0 a12.95 12.95 0 1 0 -25.9 0z' fill='rgba(13%2c 150%2c 252%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M925.24 19.5 a12.68 12.68 0 1 0 25.36 0 a12.68 12.68 0 1 0 -25.36 0z' fill='rgba(13%2c 150%2c 252%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M913.12 36.64 a14.11 14.11 0 1 0 28.22 0 a14.11 14.11 0 1 0 -28.22 0z' fill='rgba(13%2c 150%2c 252%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1192.0327319572566 22.204742143962616L1176.354894401936 16.806429756995968 1170.9565820149692 32.48426731231666 1186.63441957029 37.882579699283305z' fill='rgba(13%2c 150%2c 252%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M388.3063717725339 57.3354016398246L398.7696201842702 59.94418246957488 401.3784010140205 49.48093405783862 390.9151526022842 46.87215322808833z' fill='rgba(13%2c 150%2c 252%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M919.57 1.43 a17.89 17.89 0 1 0 35.78 0 a17.89 17.89 0 1 0 -35.78 0z' fill='rgba(13%2c 150%2c 252%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M463.64599027779207 53.09650398019073L455.27732836525956 41.578029025245286 443.75885341031415 49.94669093777779 452.12751532284665 61.465165892723235z' fill='rgba(13%2c 150%2c 252%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M75.97 3.89 a11.11 11.11 0 1 0 22.22 0 a11.11 11.11 0 1 0 -22.22 0z' fill='rgba(13%2c 150%2c 252%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M939.96 38.17 a13.21 13.21 0 1 0 26.42 0 a13.21 13.21 0 1 0 -26.42 0z' fill='rgba(13%2c 150%2c 252%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M124.91261660087015 24.119494879067524L123.12207923248322 12.814486857332245 111.81707121074794 14.605024225719182 113.60760857913488 25.91003224745446z' fill='rgba(13%2c 150%2c 252%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M893.32 9.88 a17.72 17.72 0 1 0 35.44 0 a17.72 17.72 0 1 0 -35.44 0z' fill='rgba(13%2c 150%2c 252%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M120.54 10.89 a14.39 14.39 0 1 0 28.78 0 a14.39 14.39 0 1 0 -28.78 0z' fill='rgba(13%2c 150%2c 252%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M938.41 41.85 a19.69 19.69 0 1 0 39.38 0 a19.69 19.69 0 1 0 -39.38 0z' fill='rgba(13%2c 150%2c 252%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M731.7023483999195 29.507137946686647L726.6261797987744 39.0540225774204 736.1730644295081 44.130191178565546 741.2492330306533 34.583306547831796z' fill='rgba(13%2c 150%2c 252%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1184.0948060411754 47.16979528193163L1168.0866729710372 39.362107101526384 1160.278984790632 55.37024017166452 1176.2871178607702 63.17792835206976z' fill='rgba(13%2c 150%2c 252%2c 1)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1092'%3e%3crect width='1300' height='60' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}

body {
    background-image: var(--img-fondo);
    object-fit: cover;
    background-repeat: repeat;
}

header {
    display: flex;
    justify-content: center;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo img {
    width: 120%;
    object-fit: cover;
}

.logo h2 {
    font-family: monospace;
    font-size: 25px;
}

.card-category>.card-body {
    border-bottom: 2px solid transparent;
}

.card-category:hover>.card-body {
    background-image: none;
    background-color: #d9d9db6c;
    border-bottom: 2px solid #747479;
}

.options {
    border-top: none;
    border-radius: 0;
}

.rojo {
    background-color: var(--rojo);
}

.amarillo {
    background-color: var(--amarrillo);
}

.verde {
    background-color: var(--verde);
}

.azul {
    background-color: var(--azul);
}

nav {
    background-image: var(--img-nav);
}

nav ul li .nav-link {
    color: #dc3545;
    font-size: 1.5rem;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.754);
}

.card-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card-options .card-title {
    margin-left: 19px;
}

.icons {
    align-items: center;
    border-radius: 100%;
    color: white;
    display: flex;
    height: 64px;
    padding: 10px;
    justify-content: center;
    width: 64px;
    box-shadow: -1px 10px 7px -4px #000000a3;
}

.alerta-oculta {
    display: none !important;
}

.space {
    border-bottom: 1px solid var(--lineas-color);
}

.header-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icono-delete {
    color: var(--icono-color);
}

.icono-delete:hover {
    color: rgba(0, 0, 0, 0.935);
    cursor: pointer;
    font-size: 2rem;
}

nav {
    background-color: white;
}

nav ul {
    font-size: 1.5rem;
}

#listado-agenda .card {
    box-shadow: 3px 5px 13px 0px #000000bd;
}

#titulo-filtro {
    font-weight: 600;
    font-size: 1.8rem;
}

.options,
.card-options {
    box-shadow: -1px 6px 6px -4px #0000006b;
}

.row .header-item {
    background-image: url("../img/fondo-header.svg");
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

.row .card-body {
    background-image: var(--agenda-contenido);
    background-size: cover;
    color: black;
}

.row .card-body p {
    background-color: rgba(255, 255, 255, 0.526);
}